html, body, div, span, p,
a, img, strong, center, ul, li, form, label,
aside, footer, header,
menu, nav,input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline:none;
}

/* ------ breadcrumb ----- */
ol.breadcrumb{
    background-color: white;
    list-style-type: none;
    width: 850px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px;
}
ol.breadcrumb li{
   display: inline; 
   color:black;
   font-size:18px;
   transform: translateZ(0);
   transition-property: color;
   transition-duration: 0.3s;
}
ol.breadcrumb li.active span{
  color:black;
  background-color: white;
  padding: 8px;
}
ol.breadcrumb li a:hover{
  background-color: red;
  color:white;
  cursor:pointer;
  padding: 8px;
  text-decoration: none;
  transform: scaleY(3);
  transform: translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
}
/*ol.breadcrumb li a:hover:before, ol.breadcrumb li a:focus:before ,ol.breadcrumb li a:active:before{
    transform: scaleY(2);
}*/

a {
    text-decoration: none;
    color: black;
}


main{
   min-height: 100%;
}
button{
    height: 30px;
    background-color: black;
    border: none;
    color: white;
    outline: none
}

a:hover{
    cursor:pointer;
}
body{
    height: 100%;
	min-width: 1200px;
    direction: ltr;
    font-family: sans-serif;
    margin: 0 auto;
    background-color:#E3E3E3;
}

/* ------ MAIN MENU ----- */

header{
	width: 100%;
	height: 120px;
}

/*--- navigation---*/
nav{
	height: 40px;
	background-color:white;
    padding-left: 15px;
}
nav ul{
    margin-left: 20%;
}
nav ul li{
	float: left;
    padding: 11px 10px;
    list-style: none;
}
nav ul li {
    transform: translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
}
nav ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ED0019;
    transform: scaleY(0);
    transform-origin: 50% 98%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
nav ul li:hover, nav ul li:focus, nav ul li:active{
    color: white;
}
nav ul li:hover:before, nav ul li:focus:before, nav ul li:active:before {
    transform: scaleY(2);
}
/*nav ul li:first-child{
    margin-left: 15px;
}*/
nav ul li{
	text-decoration: none;
	color: #000;
}

#nav-header{
	width: 100%;
	height: 80px;
	background-color: #FD0002;
    position: absolute;
}
#nav-header a{
    display: block;
}
#nav-header a .logo{
    height: 80px;
    width: auto;
    float: left;
    margin-left: 20%;
}

#find-album{
    /* position: absolute; */
    width: 300px;
    /* padding-top: 3px; */
    height: auto;
    /* top: -6px; */
    float: left;
    /* margin: 0 auto; */
    /* margin-left: 347px; */
}

#find-album>img{
    width: 35px;
    height: auto;
    float: right;
    position: absolute;
    margin-top: 26px;
    margin-left: -37px;
}

.search{
    width: 270px;
    height: 25px;
    border: 1px solid rgb(132, 132, 132);
    background-color: white;
    float: left;
    margin-top: 25px;
    margin-left: 40%;
}

img.logo{
	height:94px;
	width: 226px;
	padding-left:10px;	
}

.data-ctrl{
    width: 285px;
    height: 255px;
    background-color: white;
    /* float: left; */
    padding-left: 0px;
    position: absolute;
    margin-left: 121px;
    margin-top: 58px;
    z-index: 1000;
    overflow: scroll;
}
.data-ctrl .search-items{
    border-bottom: 1px solid black;
    margin-top: 8px;
    padding: 10px;
    padding-top: 30px;
}
.search-route img{
    width: 80px;
    /* height: auto; */
    margin-top: -30px;
}

.search-items p{
    font-size: 13px;
    margin-left: 89px;
    margin-top: -41px;
}

.search-items a{
    display: block;
    height: 50px;
    color:black;
}
.search-items a:hover{
    color:red;
}

#bascet-status{
    /* position: absolute; */
    margin-left: 175px;
    float: left;
    /* margin-top: -80px; */
}
#bascet-status p{
    color: white;
    display: block;
    width: 100%;
    height: 25px;
    margin-left: 36px;
    position: absolute;
    top: 15px;
    font-size: 20px;
}
#nav-header .username{
    margin-top: 30px;
    margin-left: 1094px;
    position: absolute;
}

/* ----- ASIDE ---- */

.wrapper{
    /*height: 100%;
    height: auto !important;*/
    margin: 0 auto;
    width: 1320px;
  /*  position: relative;*/
    padding-bottom: 190px;
    min-height: 100%;
}

#wrapper{
    width: 900px;
    margin: 0 auto;
    min-height:100%;
    height:100%;
}


/* ------ CART ----- */
.cart{
    float:left;
    display: block;
    width: 215px;
    padding: 5px;
    background-color: #F0F0F0;
   /* margin-left: 230px;*/
    margin-top: 420px;
    margin-left: 20px;
    /*padding-bottom: 25px;*/
    position: relative;
}
.cart div{
    font-size:13px;
}
#cart h1{
	width: 95%;
    background-color: #fff;
    padding-left: 4%;
}
#cart p{
	/*border-bottom: solid 1px #ADACAC;*/
    /*padding-bottom: 15px;*/
}
.status-cart {
    width: 100%;
}
.status-cart img{
    width: 85px;
    margin: 5px;
    border: 1px solid black;
}
.status-cart div p{
    float: right;
    font-size: 14px;
    top: 38px;
    width: 108px;
    position: relative; 
}
#remove-item p{
    margin-top: -95px;
    left: 90px;
    position: relative;
}
#remove-item p:hover{
    cursor:pointer;
    color:red;
}
.status-items{
    
}
.cart .total{
    width: 100%;
}

/* ------ GENRE ----- */
#music-genre{
	width: 215px;
    padding: 5px;
    background-color: #F0F0F0;
 /*   margin-left: 230px;*/
    margin-left: 20px;
    position: absolute;
    margin-top: 48px;
}

#music-genre div{
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
    background-color: #fb0002;
    font-size: 18px;
    color:white;
}
#music-genre div a{
    color:white;
    display: block;
}

#music-genre div:active{
	background-color: #000;
}

#music-genre div:hover{
    box-shadow: inset 0px 1px 5px 0 rgba(0, 0, 0, 0.49);
    cursor: pointer;
}


/*------ HOME ------*/
#head-albums{
    display: inherit;
    margin: 0 auto;
    width: 1320px;
    height: 425px;
}

main .info-head{
    width: 100%;
    height: 25%;
    background: rgba(0, 0, 0, 1);
    margin-top: -17px;
    position: relative;
}

p.head-name{
    color:white;
    font-size:16px;
    padding: 5px;
}

main .info-head p.head-artist{
    color:red;
    font-size:14px;
}

.info-head img{
    float: right;
    width: 35px;
    margin-top: -25px;
}

.albums{
    width: 200px;
    height: 250px;
    background: grey;
    border: 1px solid;
    overflow:hidden;
}
.albums img,.page img{
    width: 100%;
}


.albums img:hover, .page img:hover{
    transform: scale(1.1,1.1);
}

.head:nth-child(1n+2){
    width: 210px;
    height: 210px;
    background: grey;
    border: 1px solid black;
    float: left;
}
.head:nth-child(1){
    width: 430px;
    height: 422px;
    background: red;
    float: left;
    margin-left: 0px;
    border: 1px solid black;
}
.head:nth-child(1) img{
    width: 100%;
    height:100%
}
.head img{
    width: 100%;
}
.head:nth-child(1n+2) div{
    background: rgba(0, 0, 0, 0.7);
    margin-top: -57px;
}
.head:nth-child(1) div{
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.7);
    margin-top: -87px;
}

.head:nth-child(1n+2) p.head-name{
    color:white;
    font-size:17px;
    position: absolute;
    left: 0;
    padding: 5px;
}
.head:nth-child(1n+2) p.head-artist{
    color:red;
    font-size:15px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.head:nth-child(1) p.head-name{
    color:white;
    font-size:22px;
    position: absolute;
    left: 0;
    padding: 5px;
}
.head:nth-child(1) p.head-artist{
    color:red;
    font-size:18px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}


#center-albums,#genres-albums{
    /*float: left;*/
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-left: 240px;
    /*margin-left: 450px;*/
}
.center{
    margin-left: 15px;
    margin-top: 10px;
    float: left;
}


#left-albums{
    position: absolute;
  /*  margin-left: 245px;*/
    margin-left: 40px;
    margin-top: 430px;
    
}
.left{
    margin-top: 10px;
}


#page{
    float: left;
    width: 800px;
   /* margin-left: 450px;*/
    margin-left: 240px;
}
.page{
    display: inline-table;
    width: 199px;
    height: 260px;
    background: black;
 /*   border: 1px solid;*/
    margin-top: 10px;
    margin-left: 15px;
    overflow:hidden;
}

#bread-crumb{
    width: 846px;
    height: 20px;
    padding: 10px;
    margin-left: 235px;
    background-color: #FFF;
    float: left;
    margin-top: 10px;
}

.busy{
    position:relative;
    
}

.info-content{
    color: lightgrey;
    font-size: 10px;
    height: 86px;
    margin-top: -139px;
    position: absolute;
    background-color: black;
    opacity:0.8;
    text-align:center;
}


/*____GENRE ALBUMS____*/

.genre-amount{
    width: 615px;
    height: 20px;
    padding: 10px;
    margin-left: 16px;
    background-color: #FFF;
    float: left;
    margin-top: 10px;
}

.genre-albums{
    width: 200px;
    float: left;
    margin-top: 10px;
    height: 350px;
    background: grey;
    border: 1px solid;
    overflow: hidden;
    margin-left: 15px;
}

.genre-albums .info-manage-album{
    height: 45%;
    background: rgba(0, 0, 0, 1);
    margin-top: -10px;
    position: relative;
}

.genre-albums img{
    width: 100%;
}

.album-descriptoin{
    color:grey; 
    font-size:10px;  
}
.info-manage-album p{
    padding: 5px;
}
.album-manage-icon img{
    width: 35px;
    float: right;
    margin-top: -33px;
}
.album-manage-icon:hover{
    cursor:pointer;
}
.album-manage-icon img:hover{
    cursor:pointer;
}

.buy{
/*    display:none ;*/
    opacity:0.4;
}

.info-manage-album p:last-child{
    color:white;
    font-size:12px;
}

.info-manage-album p:last-child:hover{
    color:red;
    cursor:pointer;
}


/*____ALBUM____*/

#view-album{
    width: 625px;
 /*   margin-left: 477px;*/
    margin-left: 277px;
   /* float: left;*/
    top: 171px;
    position: absolute;
    margin-top: 20px;
    height: 400px;
}

.smallExtraImg *{
    height: 87px;
    float: left;
    padding: 2px;
    width: 87px;
}

.album-details{
    width: 50%;
    float:left;
    padding-left: 20px;
    margin-top: -15px;
}
.album-details:nth-child(n){
    color:grey;
    font-size:14px;
}

.album-details h2{
    color:grey;
    margin-top: -260px;
}

.album-price{
    font-size: 22px;
    color: red;
}

.stock{
    color: black;
    font-weight: bold;
}

span.inStock{
   color: #008500;
   font-weight: bold;
}

span.outStock{
     text-decoration: line-through;
     color:grey;
     opacity:0.5;
}

#manage-cart{
    width: 316px;
    margin-left: 292px;
    height: 120px;
    margin-top: 15px;
    background-color: rgb(240, 240, 240);
    position: absolute;
    padding: 20px;
}

.manage-quantety{
    width: 150px;
}

.manage-quantety button:nth-child(2n) {
    position: absolute;
    margin-left: 4px;
    height: 17px;
    width: 19px;
    border: 1px solid darkgrey;
    color:darkgrey;
    background-color: white;
}

.manage-quantety button:nth-child(2n+1) {
    position: absolute;
    margin-top: 25px;
    margin-left: 4px;
    height: 17px;
    width: 19px;
    background-color: white;
    color:darkgrey;
    border: 1px solid darkgrey;
}
.manage-quantety input{
    height: 27px;
    width: 30px;
    border: 1px solid darkgrey;
    padding: 6px 0px 7px 15px;
}
.add-to-cart{
   float:right;
   margin-top: -38px;
}

/*____CHECKOUT____*/
#content{
    width: 100%;
    height: 500px;
    margin-top: 40px;
}
#main{
    background-color: blue;
    width: 75%;
    height: 400px;
    float: left;
}
#main h1,  #content aside h1{
    background-color: #fff;
    padding-left: 4%;
    margin: 0;
    padding: 10px;
}
#main h1{
    width: 98%;
}

#content aside{
    width: 20%;
    background-color: red;
    height: 200px;
    float: right;
}
 #content aside h1{
    width: 92%;
}


/*__LOG_IN__*/


.regFile{
    width: 558px;
    float: left;
    border: solid 1px #848484;
    padding: 15px;
    background-color: #fff;
}
.regFile header{
    border-bottom: solid 1px #848484;
    height: 30px;
    color: red;
}
#newCostumers{
    margin-right: 5px;
    margin-left: 35px;
}
#registrCostumers label, #registr label{
    display: block;
    font-weight: 900;
}
#registrCostumers input[type=email],#registrCostumers input[type=password],
#registr input{
    border: solid 1px #848484;
    width: 75%;
    height: 25px;
    margin: 7px 0;
    display: block;
}
#registrCostumers .has-error .form-control{
    border: dotted red 2px;
}

.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
} 

.reg-error{
    color:red;
}


.responce-registr {
    margin-top: 50px;
    padding: 5px;
    font-size: 18px;
    color:red;
}

.responce-login{
    margin-top: 20px;
    font-size: 20PX;
    color: green;
}

.submit{
    opacity:0.5;
}

.error{
   color:red; 
}
/*.ng-valid {
    background-color: green;
}  
.ng-invalid {
    background-color: red;
}*/

/*#registrCostumers .username.ng-valid {
          background-color: #E4F5E4;
      }
      .username.ng-dirty.ng-invalid-required {
          border: dotted red 2px;
      }
      .username.ng-dirty.ng-invalid-minlength {
          background-color: #F9F9B0;
      }
 
      .email.ng-valid {
          background-color: #E4F5E4;
      }
      .email.ng-dirty.ng-invalid-required {
          border: dotted red 2px;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: #F9F9B0;
      }
*/

#registr{
    /*display: none;*/
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 3px 4px 19px 9px #ABABAB;
    z-index: 10000;
    position: absolute;
    left: 30%;
    top: 27%;
}
#registr .mg{
    margin-top: 20px;
}
#registr input{
    width: 95%;
}
#registr #regBtn{
    height: 30px;
    width: 100%;
}
#registr h2{
    margin: 0px 0px 20px 0px;
    color: grey;
    text-align: center;
}
#registr p{
    float: right;
    font-size: 17px;
    color: #DFDFDF;
}
#registr p:hover{
    cursor: pointer;
    color: red;
}
.regFile p{
    text-align: justify;
    padding: 20px 0;
    line-height: 1.3;
}    
.regFile .btn{
    float: left;
}
.btn:hover{
    background-color: grey;
}


.cover{
    width: 96%;
    height: 604px;
    opacity: 0.8;
    background-color: white
}

.infinity{
    float: left;
    width: 100%;
    height: 1px;
}

footer{
   /* position :absolute;*/
    display: block;
    background-color: black;
    height: 180px;
    width: 100%;
    left: 0;
    margin-top: 50px;
    float:left;
    color:white;
}

.foo{
     /* border: 1px solid #FCFCFC; */
    color: white;
    width: 100%;
    /* position: absolute; */
    height: 90%;
    padding-left: 30px;
    padding-top: 30px;
    /* margin: auto 0; */
    /* margin-top: 30px; */
    font-size: 14px;
}

.foo a{
    color:white;
}
 
    
/*.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

