<!DOCTYPE html>
<html lang="en" ng-app="musicStore">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="checkout.css">
</head>
<body ng-controller="mainController">
<!-- _____________________________ -->
<!-- ___________HEADER____________ -->
<!-- _____________________________ -->
	<header>
		<nav>
			<div class="wrapper">
				<ul>
					<a href="#home"><li>Home</li></a>
					<a href="#myAcoount" ng-show=""><li>My Account</li></a>
					<a href="#myWishlist"><li>My Wishlist</li></a>
					<a href="check-out-1.html"><li>Checkout</li></a>
					<a href="#login" ng-hide="" ><li>Log In</li></a>
				</ul>	
			</div>	
			</nav>
		<div id="nav-header">
			<div class="wrapper">
				<img class="logo" src="Images/logo.png" >
				<div id="find-album">
					<input type="text" class="search" />
				</div>
				<div id="store-status"></div>
			</div>
		</div>
	</header>
<!-- _____________________________ -->
<!-- __________CHECK-OUT__________ -->
<!-- _____________________________ -->		
	<div class="wrapper">
		<div id="checkout-content">
			<h1 class="check-out-h1">Checkout</h1>	
			<a href="check-out-1.html"><div class="sectionHead step cf one"><span>1</span><p>Billing Information</p></div></a>
			<div id="billingInfo" class="billingInfo cf">
				
					<div class="billingInfo-row">
						<div class="label full"><label for="Adress">Adress<span>*</span></label></div>
						<input type="text" class="adress" ng-model="$parent.form.address" ng-pattern="[a-zA-Z0-9]" placeholder="London str 345" ng-minlength=5 ng-maxlength=20 required >
					</div>
					<div class="billingInfo-row">
						<div class="row-half">
							<p><label  class="label" for="City">City <span>*</span></label></p>
							<input type="text" ng-model="form.city" ng-pattern="[a-zA-Z]" placeholder="Shefield" ng-minlength=3 ng-maxlength=20 required >
						</div>
						<div class="row-half">
							<p><label  class="label " for="Zip Code">Zip/Posyal Code<span>*</span></label></p>
							<input type="text"  ng-model="form.zipcode" ng-pattern="[0-9]" placeholder="90210" ng-minlength=5 ng-maxlength=7 required >
						</div>	
					</div>
					<div class="billingInfo-row">
						<label  class="label label-half" for="Phone Number">Telephone<span>*</span></label>
						<input type="text" ng-model="form.phone" ng-pattern="[0-9]" placeholder="0523336699" ng-minlength=6 ng-maxlength=10 required >
					</div>
					<div class="billingInfo-row">
						<div class="row-half">
							<p class="required-fields"><span>* Required Fields</span></p>
						</div>
						<div class="row-half">	
							<a href="#/checkout/step2"><input type="button" value="Continue" class="btn"></a>
						</div>
					</div>
			</div>
			
			<a href="check-out-2.html"><div class="sectionHead cf na"><span>2</span>Payment Information</div></a>
			<a href="check-out-3.html"><div class="sectionHead cf na"><span>3</span>Order Review</div></a>
		</div>
		<aside></aside>
	</div>	
	</body>
	</html>