html, body, div, span, p,
a, img, strong, center, ul, li, form, label,
aside, footer, header,
menu, nav,input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline:none;
}
body{
	min-width: 1200px;
    direction: ltr;
    font-family: sans-serif;
    margin: 0 auto;
    background-color:#F0F0F0;
}
/* ------ MAIN MENU ----- */

header{
	width: 100%;
	height: 120px;
}
/*--- navigation---*/
nav{
	height: 40px;
	background-color:white;
}
nav ul li{
	float: left;
    padding: 11px 10px;
    list-style: none;
}
nav ul li {
    transform: translateZ(0);
}
nav ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ED0019;
    transform: scaleY(0);
    transform-origin: 50% 95%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
nav ul li:hover:before, nav ul li:focus:before, nav ul li:active:before {
    transform: scaleY(1);
}
nav ul li:first-child{
    margin-left: 15px;
}
nav ul li a{
	text-decoration: none;
	color: #000;
}

#nav-header{
	width: 100%;
	height: 80px;
	background-color: #ED0019;
}
#nav-header img{
	height: 80px;
    width: auto;
    float: left;
}

.search{
    width: 270px;
    height: 25px;
    border: 1px solid rgb(132, 132, 132);
    background-color: white;
    float: left;
    margin-top: 25px;
    margin-left: 111px;
}
img.logo{
	height:94px;
	width: 226px;
	padding-left:10px;	
}


/*   ----- ASIDE ----   */
aside{
	padding:10px;
}


/* ------ CART ----- */
#cart{
	width: 302px;
    padding: 5px;
    background-color: #F0F0F0;
}
#cart h1{
	width: 95%;
    background-color: #fff;
    padding-left: 4%;
}
#cart p{
	border-bottom: solid 1px #ADACAC;
    padding-bottom: 15px;
}

/* ------ GENRE ----- */
#music-genre{
	width: 302px;
    padding: 5px;
    background-color: #F0F0F0;
}

#music-genre div{
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
    background-color: #fb0002;
    color: white;
    font-size: 18px;
}
#music-genre div:active{
	background-color: #000;
}

#music-genre div:hover{
    box-shadow: inset 0px 1px 5px 0 rgba(0, 0, 0, 0.49);
    cursor: pointer;
}

