html, body, div, span, p,
a, img, strong, center, ul, li, form, label,
aside, footer, header,
menu, nav,input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline:none;
}
button{
    height: 30px;
    background-color: black;
    border: none;
    color: white;
    outline: none
}

a:hover{
    cursor:pointer;
}
body{
	min-width: 1200px;
    direction: ltr;
    font-family: sans-serif;
    margin: 0 auto;
    background-color:#E3E3E3;
}

/* ------ MAIN MENU ----- */

header{
	width: 100%;
	height: 120px;
}

/*--- navigation---*/
nav{
	height: 40px;
	background-color:white;
    padding-left: 15px;
}
nav ul{
    margin-left: 20%;
}
nav ul li{
	float: left;
    padding: 11px 10px;
    list-style: none;
}
nav ul li {
    transform: translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
}
nav ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ED0019;
    transform: scaleY(0);
    transform-origin: 50% 98%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
nav ul li:hover, nav ul li:focus, nav ul li:active{
    color: white;
}
nav ul li:hover:before, nav ul li:focus:before, nav ul li:active:before {
    transform: scaleY(2);
}
/*nav ul li:first-child{
    margin-left: 15px;
}*/
nav ul li{
	text-decoration: none;
	color: #000;
}

#nav-header{
	width: 100%;
	height: 80px;
	background-color: #FD0002;
    position: absolute;
}
#nav-header img{
    height: 80px;
    width: auto;
    float: left;
    margin-left: 20%;
}

#find-album{
  position: absolute;
  width: 100%;  
}

.search{
    width: 270px;
    height: 25px;
    border: 1px solid rgb(132, 132, 132);
    background-color: white;
    float: left;
    margin-top: 25px;
    margin-left: 40%;
}

img.logo{
	height:94px;
	width: 226px;
	padding-left:10px;	
}


/* ----- ASIDE ---- */

aside{
	padding:10px;
}

#wrapper{
    height: auto;
    margin: 0 auto;
    width: 1320px;
}


/* ------ CART ----- */
#cart{
    display: block;
    width: 215px;
    padding: 5px;
    background-color: #F0F0F0;
    margin-left: 225px;
    position: absolute;
    margin-top: 430px;
}
#cart h1{
	width: 95%;
    background-color: #fff;
    padding-left: 4%;
}
#cart p{
	border-bottom: solid 1px #ADACAC;
    padding-bottom: 15px;
}


/* ------ GENRE ----- */
#music-genre{
	width: 215px;
    padding: 5px;
    background-color: #F0F0F0;
    margin-left: 225px;
    position: absolute;
    margin-top: 68px;
}

#music-genre div{
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
    background-color: #fb0002;
    font-size: 18px;
    color:white;
}
#music-genre div a{
    color:white;
    display: block;
}

#music-genre div:active{
	background-color: #000;
}

#music-genre div:hover{
    box-shadow: inset 0px 1px 5px 0 rgba(0, 0, 0, 0.49);
    cursor: pointer;
}


/*------ HOME ------*/
#head-albums{
    display: inherit;
    margin: 0 auto;
    width: 1280px;
    height: 425px;
}

main .info-head{
    width: 100%;
    height: 25%;
    background: rgba(0, 0, 0, 1);
    margin-top: -17px;
    position: relative;
}

main .info-head p.head-name{
    color:white;
    font-size:16px;
    padding: 5px;
}

main .info-head p.head-artist{
    color:red;
    font-size:14px;
}

.albums{
    width: 200px;
    height: 250px;
    background: grey;
    border: 1px solid;
    overflow:hidden;
}
.albums img,.page img{
    width: 100%;
}

.head:nth-child(1n+2){
    width: 210px;
    height: 210px;
    background: grey;
    border: 1px solid black;
    float: left;
}
.head:nth-child(1){
    width: 430px;
    height: 422px;
    background: red;
    float: left;
    margin-left: 0px;
    border: 1px solid black;
}
.head:nth-child(1) img{
    width: 100%;
    height:100%
}
.head img{
    width: 100%;
}
.head:nth-child(1n+2) div{
    background: rgba(0, 0, 0, 0.7);
    margin-top: -57px;
}
.head:nth-child(1) div{
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.7);
    margin-top: -87px;
}

.head:nth-child(1n+2) p.head-name{
    color:white;
    font-size:17px;
    position: absolute;
    left: 0;
    padding: 5px;
}
.head:nth-child(1n+2) p.head-artist{
    color:red;
    font-size:15px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.head:nth-child(1) p.head-name{
    color:white;
    font-size:22px;
    position: absolute;
    left: 0;
    padding: 5px;
}
.head:nth-child(1) p.head-artist{
    color:red;
    font-size:18px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}


#center-albums,#genres-albums{
    float: left;
    width: 652px;
    margin-left:450px;
}
.center{
    margin-left: 15px;
    margin-top: 10px;
    float: left;
}


#left-albums{
    position: absolute;
    margin-left: 245px;
    margin-top: 430px;
}
.left{
    margin-top: 10px;
}
#page{
    float: left;
    width: 652px;
    margin-left: 450px;
}
.page{
    display: inline-table;
    width: 200px;
    height: 250px;
    background: grey;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 15px;
}

#bread-crumb{
    width: 858px;
    height: 20px;
    padding: 10px;
    margin-left: 225px;
    background-color: #FFF;
    float: left;
    margin-top: 20px;
}

.busy{
    position:fixed;
    
}


/*____ALBUM____*/
#view-album{
    width: 625px;
    margin-left: 477px;
    float: left;
    margin-top: 20px;
    height: 400px;
}

.smallExtraImg *{
    height: 87px;
    float: left;
    padding: 2px;
    width: 87px;
}

.album-details{
    width: 50%;
    float:left;
    padding-left: 20px;
    margin-top: -15px;
}
.album-details:nth-child(n){
    color:grey;
    font-size:14px;
}

.album-details h2{
    color:grey;
    margin-top: -260px;
}
.album-price{
    font-size: 22px;
    color: red;
    padding-top: 5px;
    margin-left: 5px;
}
.stock{
    color: black;
    font-weight: bold;
}
span.inStock{
   color: #008500;
   font-weight: bold;
}
span.outStock{
     text-decoration: line-through;
     color:grey;
     opacity:0.5;
}

#manage-cart{
    width: 316px;
    margin-left: 292px;
    height: 110px;
    margin-top: 15px;
    background-color: rgb(240, 240, 240);
    position: absolute;
    padding: 20px;
}

.manage-quantety{
    width: 150px;
}

.manage-quantety button:nth-child(2n) {
    position: absolute;
    margin-left: 4px;
    height: 17px;
    width: 19px;
    border: 1px solid darkgrey;
    color:darkgrey;
    background-color: white;
}

.manage-quantety button:nth-child(2n+1) {
    position: absolute;
    margin-top: 25px;
    margin-left: 4px;
    height: 17px;
    width: 19px;
    background-color: white;
    color:darkgrey;
    border: 1px solid darkgrey;
}
.manage-quantety input{
    height: 27px;
    width: 30px;
    border: 1px solid darkgrey;
    padding: 6px 0px 7px 15px;
}
.add-to-cart{
   float:right;
   margin-top: -38px;
}

/*____CHECKOUT____*/
#content{
    width: 100%;
    height: 500px;
    margin-top: 40px;
}
#main{
    background-color: blue;
    width: 75%;
    height: 400px;
    float: left;
}
#main h1,  #content aside h1{
    background-color: #fff;
    padding-left: 4%;
    margin: 0;
    padding: 10px;
}
#main h1{
    width: 98%;
}

#content aside{
    width: 20%;
    background-color: red;
    height: 200px;
    float: right;
}
 #content aside h1{
    width: 92%;
}


/*__LOG_IN__*/
.btn:hover{
    background-color: grey;
}
.regFile{
    width: 558px;
    float: left;
    border: solid 1px #848484;
    height: 280px;
    padding: 15px;
    background-color: #fff;
}
.regFile header{
    border-bottom: solid 1px #848484;
    height: 30px;
    color: red;
}
#newCostumers{
    margin-right: 20px;

}
#registrCostumers label, #registr label{
    display: block;
    font-weight: 900;
}
#registrCostumers input[type=email],#registrCostumers input[type=password],
#registr input{
    border: solid 1px #848484;
    width: 75%;
    height: 25px;
    margin: 7px 0;
    display: block;
}
#registr{
    /*display: none;*/
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 3px 4px 19px 9px #ABABAB;
    z-index: 10000;
    position: absolute;
    left: 30%;
    top: 17%;
}
#registr input#lastName{
    margin-bottom: 20px;
}
#registr input{
    width: 95%;
}
#registr #regBtn{
    height: 30px;
    width: 100%;
}
#registr h2{
    margin: 0px 0px 20px 0px;
    color: grey;
    text-align: center;
}
#registr p{
    float: right;
    font-size: 17px;
    color: #DFDFDF;
}
#registr p:hover{
    cursor: pointer;
    color: red;
}
.regFile p{
    text-align: justify;
    padding: 20px 0;
    line-height: 1.3;
}    
.regFile .btn{
    float: left;
}

footer{
    width: 100%;
    height:100p;
    bottom:0%;
    background-color: black;
    position: fixed;
}
