html, body, div, span, p,
a, img, strong, center, ul, li, form, label,
aside, footer, header,
menu, nav,input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline:none;
}
body{
	min-width: 1200px;
    direction: ltr;
    font-family: sans-serif;
    margin: 0 auto;
}
/* ------ MAIN MENU ----- */
#wrapper{
	width: 900px;
	margin: 0 auto;
}
#main-header{
	width: 100%;
	height: 150px;
}
#nav-user{
	height: 20px;
	padding: 10px;
}
#nav-user ul li{
	float: left;
    margin-right: 20px;
    list-style: none;
}
#nav-user ul li a{
	text-decoration: none;
	color: #000;
}
#nav-user ul li a:hover{
	background-color: red;
}
#nav-header{
	width: 100%;
	height: 80px;
	background-color: red;
}
#nav-header img{
	height: 80px;
    width: auto;
    float: left;
}
#find-album{
	width: 252px;
    height: 80px;
    float: left;
    margin-left: 100px;
}
.search{
    width: 250px;
    height: 25px;
    border: 1px solid rgb(132, 132, 132);
    background-color: white;
    float: left;
    margin-top: 25px;
}

/* ------ CART ----- */
#cart{
	width: 302px;
    padding: 5px;
    background-color: #F0F0F0;
}
#cart h1{
	width: 95%;
    background-color: #fff;
    padding-left: 4%;
}
#cart p{
	border-bottom: solid 1px #ADACAC;
    padding-bottom: 15px;
}

/* ------ GENRE ----- */
#music-genre{
	width: 302px;
    padding: 5px;
    background-color: #F0F0F0;
}

#music-genre div{
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
    background-color: #fb0002;
    color: white;
    font-size: 18px;
}
