

<main ng-controller="AlbumsGenreController" >	
	<div id="wrapper">
		<genre-list> daniel </genre-list>
		<my-cart></my-cart>
		<div ncy-breadcrumb></div>
	   {{loadCount()}}
		<div id="center-albums">
			<div class="genre-amount">
				<p>{{ genreName }} ({{genreLength + " items"}})</p>
			</div>
			<div class="genre-albums" ng-repeat="album in albums track by $index">
			    <a ui-sref="album.genre({genreId:genreId,genreName:genreName,id:album.album_id})"><img ng-src="Images/{{album.image_path}}" alt=""></a> 			
				<div class="info-manage-album">
				    <p class="head-name">{{album.album_artist}} - {{album.album_name}}</p>
					<p class="album-descriptoin">{{album.album_description | limitTo:100:0}}...</p>
					<p class="album-price">{{album.album_price | currency:"$"}}</p>
			    	<div class="album-manage-icon">
			    		<!-- <p> 
                            <img ng-src="Images/info-album.png" alt="info" ng-click="setInfo( album )" ng-class="{info:album.info}">
                            <span class="info-content" ng-show="album.info" ng-bind="description" ></span>
			    	    </p -->
			    	    <img ng-src="Images/info-album.png" alt="info" ng-click="setInfo( album )" ng-class="{info:album.info}">
			    	    <img ng-src="Images/bascet-album.png" alt=""  ng-click="addToCart( album.album_id )">
			    	</div>
			    	<p class="addtowishlist" ng-click="addtowishlist($index)">Add to Wishlist</p>
			    </div>
		    </div>
		</div>
	</div>
</main>